[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
python-dotenv = "*"
uvicorn = "*"
httpx = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
